<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        Client List
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr class="text-center">
                  <th>Sr. No</th>
                  <th>Person Name</th>
                  <th>Company Name</th>
                  <th>Contact Number</th>
                  <th>City</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Client
      </div>
      <div class="card-body">
        <form action="" [formGroup]="projectForm">
          <div class="row">

            <div class="col-6">
              <label for="">Project Name</label>
              <input type="text" formControlName="projectName" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Start Date</label>
              <input type="date" formControlName="startDate" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Expected End Date</label>
              <input type="date" formControlName="expectedEndDate" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Contact Name</label>
              <input type="text" formControlName="contactPerson" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Contact Mobile</label>
              <input type="text" formControlName="contactPersonContactNo" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Contact Email</label>
              <input type="text" formControlName="contactPersonEmailId" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Total Employee Count</label>
              <input type="text" formControlName="totalEmpWorking" class="form-control">
            </div>

            <div class="col-6">
              <label for="">Project Costing</label>
              <input type="text" formControlName="projectCost" class="form-control">
            </div>

            <div class="col-12">
              <label for="">Project Description</label>
              <textarea name="" formControlName="projectDetails" class="form-control" id=""></textarea>
            </div>

            <div class="col-6">
              <label for="">Select Client </label>
              <select name="" class="form-control" formControlName="clientId" id="">
                <option value="">Select client</option>
              </select>
            </div>

            <div class="col-6">
              <label for="">Lead By</label>
              <select name="" class="form-control" formControlName="leadByEmpId" id="">
                <option value="">Select Employee</option>
              </select>
            </div>

          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">

              <button class="btn btn-success">
                Save
              </button>
            </div>

            <div class="col-6 text-center">
              <button class="btn btn-danger">Reset</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>